$dark-main: black;
$dark-secondary: gray;
$light-main: white;
$light-secondary: lightgray;

$gradient-0: #6F1AB6;
$gradient-1: #9E4784;

$base-font-size: 18px;
$base-font-size-offset: 2px;

@mixin fix-text() {
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

@mixin base-text-gradient() {
    background: -webkit-linear-gradient(top left, $gradient-0, $gradient-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin link-underline($color) {
  display: inline-block;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: $color;
    transition: width .3s ease;
    margin-top: 3px;
  }

  &:hover::after {
    width: 100%;
  }
}

@mixin base-section() {
  box-sizing: border-box;
  padding: 80px 2vw;
  width: 100vw;
  border-bottom: 1px solid black;
}